@media(max-width: 375px){
    .body {
        background: url(../images/bg-mobile.svg) no-repeat center top;
    }
    .container {
        max-width: 375px;
        padding: 30px;
    }

    .header img {
        width: 150px;
    }

    .content {
        flex-direction: column;
    }

    .content img {
        width: 100%;
        align-self: center;
        margin-bottom: 50px;
    }

    .info {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .info .title {
        text-align: center;
        font-size: 2.5rem;
    }

    .info .text {
        text-align: center;
        font-size: 1.45rem;
    }

    .info .btn {
        align-self: center;
        font-size: 1.4rem;
        padding: 10px 70px;
    }

    .social {
        justify-content: center;
        gap: 10px;
        margin-top: 60px;
    }

    .social a {
        width: 30px;
        height: 30px;
    }

    .social i {
        font-size: 1.5rem;
        padding: 5px;
    }
}