@media(max-width: 768px){ 
    body {
        background: var(--bg-color) url(../images/bg-mobile.svg) no-repeat;
        background-size: 100%;
    }

    .container {
        max-width: 768px;
        padding: 30px;
    }

    .content {
        flex-direction: column;
    }

    .content img {
        align-self: center;
        margin-bottom: 50px;
    }

    .info {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .info .title {
        text-align: center;
    }
    
    .info .text {
        text-align: center;
    }

    .info .btn {
        align-self: center;
        padding: 15px 100px;
        margin-bottom: 60px;
    }

    .social {
        justify-content: center;
        margin: 0;
    }
}

@media(max-width: 375px){
    
    .header img {
        width: 150px;
    }

    .info .title {
        text-align: center;
        font-size: 2.5rem;
    }

    .info .text {
        text-align: center;
        font-size: 1.45rem;
    }

    .info .btn {
        align-self: center;
        font-size: 1.4rem;
        padding: 10px 70px;
        margin-bottom: 60px;
    }

    .social {
        gap: 10px;
    }

    .social a {
        width: 30px;
        height: 30px;
    }

    .social i {
        font-size: 1.5rem;
        padding: 5px;
    }
}