html {
    font-size: 62.5%;
}

body {
    background: url(/src/images/bg-desktop.svg) no-repeat;
    background-color: var(--bg-color);
    background-size: contain;
}

.container {
    height: 100vh;
    margin: 0 auto;
}

.content {
    padding: 0 70px;
}

.header img {
    padding: 50px 30px;
    margin-bottom: 40px;
}
.main-content {
    display: flex;
}

.main-content img {
    width: 850px;
    height: 620px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.hero-text .title {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: #fff;
    width: 550px;
    margin-top: 50px;
}

.hero-text .text {
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
}

.hero-text .btn {
    color: var(--bg-color);
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    align-self: flex-start;
    padding: 20px 100px;
    border-radius: 40px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 8);
}

.hero-text .btn:hover {
    color: #fff;
    background-color: var(--hover-color);
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social a {
    display: block;
    color: #fff;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
}

.social i {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
}

.social a:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}
