html {
    font-size: 62.5%;
}

body {
    background: url(/src/images/bg-desktop.svg) no-repeat;
    background-color: var(--bg-color);
    background-size: contain;
}

.container {
    height: 100vh;
    margin: 0 auto;
}

.content {
    padding: 35px 50px;
    margin: 0 20px;
}

.header img {
    width: 360px;
    margin-bottom: 40px;
}

.main-content {
    display: flex;
}

.main-content img {
    width: 1300px;
    height: 930px;
    margin-right: 100px;
}
.hero-text {
    /* width: 34%; */
    display: flex;
    flex-direction: column;
}

.hero-text .title {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color: #fff;
    margin-top: 70px;
}

.hero-text .text {
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6rem;
    margin-top: 30px;
    line-height: 50px;
}

.hero-text .btn {
    color: var(--bg-color);
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    align-self: flex-start;
    padding: 20px 130px;
    border-radius: 40px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 8);
}

.hero-text .btn:hover {
    color: #fff;
    background-color: var(--hover-color);
}

.social {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;

}

.social a i {
    color: #fff;
    margin-left: 20px;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 3rem;
    transition: 0.1s;
}

.social i:hover {
    color: var(--hover-color);
}